html{
	background-color: rgb(39,40,34);
}
h1{
	color:white;
	text-align: center;
	text-shadow: 1px 1px 3px black;
	font-size: 300%;
	margin:0px;
	border:2px solid white;
	border-left: 0px;
	border-right: 0px;
}
button{
	background-color:rgb(23,24,20);
	color:white;
	border:2px solid grey;
	border-radius:4px;
	font-size:125%;
}
button:active{
	background-color:white;
	color:black;
}
p{
	position: relative;
	word-wrap: break-word;
	left:0%;
	right: 0%;
	height: 100%;
	width: 100%;
}
#Header{
	position: absolute;
	top:0%;
	height: 10%;
	width:100%;
	background-color: rgb(77,75,69);
	box-shadow: 5px 5px 5px grey;
}
#inputArea{
	position: absolute;
	top:12%;
	height: 15%;
	width:100%;
}
#inputText{
	position: relative;
	left:5%;
	top:5%;
	width:75%;
	height: 90%;
}
#inputSubmit{
	position:relative;
	left:8%;
	bottom:70%;
	width:10%;
	height:40%;
	
}
#inputPriority{
	position: relative;
	right:2.3%;
	bottom:30%;
	width:10%;
	height:40%;
	background-color:rgb(23,24,20);
	color: white;
	border:2px solid grey;
	border-radius:4px;
}
#inputSort{
	position:relative;
	left:83.65%;
	bottom:30%;
	width:10%;
	height:40%;
}
#HP{
	color:rgb(205,0,0);
	font-size: 150%;
}
#MP{
	color:rgb(66,172,231);
	font-size:125%;
}
#LP{
	color:rgb(166,213,43);
	font-size: 100%;
}
#noteContainer{
	position: absolute;
	top:30%;
	width: 100%;
	word-wrap: break-word;
}
.note{
	margin: 8px;
	background-color: rgb(23,24,20);
}
.noteHigh{
	color:rgb(205,0,0);
	font-size: 200%;
	font-weight: bold;
	
	padding: 5px;
}
.noteMedium{
	color:rgb(66,172,231);
	font-size: 175%;
	
	padding: 3px;
}
.noteLow{
	color:rgb(166,213,43);
	font-size: 150%;
	
	padding: 2px;
}
.noteEdit{
	position: relative;
	left:5%;
	width:10%;
	height:40px;
	font-size: 100%;
}
.noteDel{
	position: relative;
	left:5%;
	width: 10%;
	height:40px;
	font-size: 100%;
}
.Confirm{
	position:relative;
	left:5%;
	width:10%;
	height:40px;
	font-size: 100%;
}
